// texto de código
p, li {
  code {
    font-size: 85% !important;
  }
}

h1, h2, h3 {
  code {
    font-size: 80% !important;
  }
}


code {
  font-size: 90% !important;
  border-radius: 3px;
}

p {
  code {
    background-color: #F1DFFB;
    border-radius: 3px;
  }
}

.post-body {
  img {
    border-radius: 6px;
  }
}

.bg-white-50 {
  background-color: #F1DFFB;
}

ol, blockquote {
  code {
    font-size: 85% !important;
    background-color: #F1DFFB;
    padding-left: .25rem;
    padding-right: .25rem;
  }
}


// colores de tablas
th {
  padding: 8px !important;
  font-size: 80% !important;
}

td {
  padding: 8px !important;
  font-size: 80% !important;
}

.stripe-dark:nth-child(odd), .post-body>table tbody tr:nth-child(odd), .page-body>table tbody tr:nth-child(odd) {
background-color: #A985C630;
}


// estilos para caja de comentarios utterances
.utterances {
  background-color: white;
  padding: 0px;
  border-radius: 8px;
  scale: 0.95;
}

.post-comments {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #F1DFFB;
  border-radius: 8px;
}

/*nav {
 li {
   color: red !important;
   line-height: 6 !important;
 }
}*/


// estilo del índice
#PageTableOfContents li {
    padding: 3px !important;
}

#PageTableOfContents ul {
    padding-left: 12px !important;
}

// espaciado debajo de titular de posts
.post-content {
  .pt5 {
    padding-top: 1rem !important;
  }
}


// shortcode para extensiones de ggplot2
.contenedor-extension {
  padding: 16px; border: solid 2px #A885C6AA; border-radius: 6px; 
  background-color: #A885C630;
  margin-top: 16px; margin-bottom: 16px; padding-top: 0px; padding-bottom: 0px;
  min-height: 124px;
}

.contenedor-extension .contendor-imagen {
  padding: 12px; padding-left: 0px;
}

.contenedor-extension .contendor-imagen .imagen-extension {
  height:100px; float: left; margin-right: 14px;
}

.titulo-extension {
  margin-top:-12px; margin-bottom:-4px;
}


.imagen_lateral {
  float: right; max-width: 240px; 
  margin-left: 24px; margin-bottom: 24px;
  max-width: 260px;
}

@media (max-width: 500px) { 
  .imagen_lateral {
    text-align: center; 
    width: 100%;
    max-width: 100%;
    float: none;
    margin: 8px;
    padding-right: 32px;
  }
}