// set custom hex colors
$siteBgColorCustom: #E9DDEE;
$sidebarBgColorCustom: #E0D2E6;
$textColorCustom: #493365;
$sidebarTextColorCustom: #493365;
$headlineColorCustom: #6E3998;
$headingColorCustom: #6E3998;
$bodyLinkColorCustom: #9069C0;
$navLinkColorCustom: #6E3998;
$sidebarLinkColorCustom: #9069C0;
$footerTextColorCustom: #B7A5CE;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #6E3998;
$buttonHoverBgColorCustom: #9069C0;
$borderColorCustom: #B7A5CE;