
// set custom hex colors
$siteBgColorCustom: #E9DDEE;
$sidebarBgColorCustom: $siteBgColorCustom;
$textColorCustom: #543A74;
$sidebarTextColorCustom: $textColorCustom;
$headlineColorCustom: #6E3998;
$headingColorCustom: $headlineColorCustom;
$bodyLinkColorCustom: #9069C0;
$sidebarLinkColorCustom: $bodyLinkColorCustom;
$navLinkColorCustom: $headingColorCustom;
$footerTextColorCustom: #B097D0;
$borderColorCustom: $footerTextColorCustom;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: $headlineColorCustom;
$buttonHoverBgColorCustom: $bodyLinkColorCustom;